@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgb(5,22,34);
    background: linear-gradient(90deg, rgba(5,22,34,1) 0%, rgba(5,22,34,1) 35%, rgba(12,70,111,1) 100%)
}

.text1{
    color:#DEB992
}

.text2{
    color:#1BA098;
}